{% extends 'base.html' %}

{% block content %}

<div class="max-w-4xl mx-auto px-4 py-16">

    <h1 class="text-5xl font-bold">Bio</h1>

    <div class="collapse collapse-arrow bg-base-300 mt-12 py-4 px-6">
        <input type="radio" name="my-accordion-2" checked="checked" /> 
        <div class="collapse-title text-xl font-medium">
          Em 30 segundos
        </div>
        <div class="collapse-content px-16"> 
            <ul class="list-disc list-outside">
                <li>Produtor executivo & gerente de projetos</li>
                <li>Diretor & fotógrafo audiovisual</li>
                <li>Jornalista & storyteller</li>
                <li>Escritor, redator & roteirista</li>
                <li>Desenvolvedor Python, HTML</li>
                <li>Artista visual & fotógrafo</li>
                <li>Doutorando em teoria literária @ Unicamp</li>
                <li>Especialização em Jornalismo de Dados, Automação e Data Storytelling @ Insper</li>
            </ul>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-base-300 mt-12 py-4 px-6">
        <input type="radio" name="my-accordion-2" /> 
        <div class="collapse-title text-xl font-medium">
          Em 90 segundos
        </div>
        <div class="collapse-content px-16">
            <ul class="list-disc list-outside">
                <li>Atuando há quase 2 décadas no planejamento, gerenciamento e execução de projetos multiplataforma, como vídeos institucionais, webséries, trilhas de EAD, plataformas web e canais de conteúdo institucional.</li>
                <li>Como diretor e fotógrafo audiovisual, sócio da Garapa Produções desde 2008, realizei inúmeras criações audiovisuais e digitais, entregando projetos para marcas e instituições como Coca-Cola, Samsung, Itaú Cultural e PNUD-ONU.</li>
                <li>Como jornalista, produzi documentários e reportagens em texto e imagens para veículos como Folha de S. Paulo, The Wall Street Journal, Magnum Photos e El Mundo (Espanha).</li>
                <li>Como artista visual, expus em instituições como Masp, MAM-SP e Instituto Moreira Salles, além de possuir trabalhos em coleções como as do MAM-SP e Instituto Moreira Salles.</li>
                <li>Meu romance de estreia, "Extremo Oeste", foi vencedor do 6º Prêmio Cepe Nacional de Literatura em 2021 (categoria Melhor Romance) e do Prêmio Jabuti em 2023 (categoria Escritor Estreante)”.</li>
                <li>Tenho mestrado em Estudos Literários pela Unifesp e estou finalizando meu doutorado em Teoria Literária na Unicamp.</li>
                <li>Atuo como desenvolvedor web e de software, atualmente cursando o Master em Jornalismo de Dados, Automação e Data Storytelling @ Insper.</li> 
                <li>Com perfil interdisciplinar e grande paixão por contar histórias e explorar novas formas narrativas, busco sempre inovar na criação, adequando a linguagem e narrativa às demandas específicas de cada projeto.</li>
            </ul>
        </div>
      </div>
      <div class="collapse collapse-arrow bg-base-300 mt-12 py-4 px-6">
        <input type="radio" name="my-accordion-2" /> 
        <div class="collapse-title text-xl font-medium">
          Em até 3 minutos
        </div>
        <div class="collapse-content px-16">
            <ul class="list-disc list-outside">
                <li>Atuo há quase 2 décadas na área de comunicação institucional, com perfil interdisciplinar e experiência em produção executiva, planejamento, gerenciamento e execução de projetos multiplataforma, como vídeos institucionais, webséries, cursos EAD, plataformas web e canais de conteúdo institucional.</li>
                <li>Fundador e sócio da Garapa Produções, desde 2008 tenho sido responsável por coordenar e produzir trabalhos criativos e inovadores, tanto para empresas, como Samsung, Coca-Cola, Vale e Natura, quanto para organizações como Itaú Cultural, Instituto Rodrigo Mendes e PNUD-ONU.</li>
                <li>Jornalista graduado pela USP, produzi reportagens, ensaios fotográficos e documentários para veículos como Folha de S. Paulo, The Wall Street Journal, Society Magazine, Magnum Photos e El Mundo (Espanha).</li>
                <li>Como desenvolvedor web, tenho planejado, coordenado e construído plataformas para clientes do Brasil e exterior, como FGV, Instituto Cultural da Dinamarca, Instituto Italiano de Cultura e Nadar Ensemble (Bélgica).</li>
                <li>Em 2023, comecei a cursar o Master em Jornalismo de Dados, Automação e Data Storytelling do Insper.</li>
                <li>Como artista visual multimídia, participei da fundação da Casa da Cultura Digital e do Coletivo Garapa, tendo obras premiadas e exibidas em instituições como MASP, MAM-SP, Itaú Cultural e Instituto Moreira Salles.</li>
                <li>Tenho atuado também como professor convidado e coordenador de atividades de criação coletiva em instituições como FAAP, IED, Edelman e Centro de la Imagen (Peru).</li>
                <li>Fui vencedor do 6º Prêmio Cepe Nacional de Literatura em 2021 (categoria Melhor Romance) e do Prêmio Jabuti em 2023 (categoria Escritor Estreante) com o romance "Extremo Oeste".</li> 
                <li>Tenho especialização em Formação de Escritores pelo Instituto Vera Cruz (SP), mestrado em Estudos Literários pela Universidade Federal de São Paulo (Unifesp) e estou finalizando o doutorado em Teoria e História Literária na Unicamp.</li>
                <li>Essa atuação em diversas frentes proporciona uma abordagem 360 marcada pela adaptabilidade e por uma atitude empreendedora e agregadora.</li>
                <li>Movido por uma paixão pela arte de contar histórias e pela experimentação com formas narrativas, busco sempre meios para adequar a linguagem e inovar na criação a fim de atender às demandas específicas de cada projeto.</li>
                <li>Vivi por 2 anos na cidade de Nova York, EUA, onde aprimorei meu conhecimento da língua inglesa e atuei como fotógrafo e assistente de ensino em projetos sociais do International Center of Photography.</li>
            </ul>
        </div>
      </div>

</div> 

{% endblock %}