<!-- Página inicial da aplicação Imóveis Caixa, com informações sobre o projeto e instruções de uso. -->

{% extends 'base.html' %}
{% block title %}Imóveis Caixa | {{ titulo_site }} | {{ subtitulo_site }}{% endblock %}
{% block content %}

<div class="max-w-4xl mx-auto px-4 pt-16 pb-64">

    <h1 class="text-5xl font-bold pb-8">Imóveis Caixa</h1>
    <h2 class="text-3xl font-bold pt-4">O que faz este site?</h2>
    <p class="py-2">Este site reúne e analisa informações sobre imóveis disponíveis para venda no portal da Caixa Econômica Federal. O projeto foi desenvolvido pelo jornalista e desenvolvedor <strong>Paulo Fehlauer</strong> como trabalho final da disciplina "Algoritmos de automação" do <strong>Master em Jornalismo de Dados, Automação e Data Storytelling do Insper.</strong></p>
    <h2 class="text-3xl font-bold pt-4">De onde vêm os dados?</h2>
    <p class="py-2">A Caixa disponibiliza em <a href="https://www.caixa.gov.br/voce/habitacao/imoveis-venda/Paginas/default.aspx" target="_blank" class="link-info">um portal</a> um banco de dados público sobre imóveis usados de todo o Brasil (casas, apartamentos e terrenos aptos para uso), disponíveis para venda em diferentes modalidades. Os imóveis são de propriedade da Caixa, em geral provenientes de execuções de garantias de contratos de financiamento. No entanto, a navegação é complexa e a busca pouco amigável. Por outro lado, a Caixa também disponibiliza periodicamente arquivos CSV organizados por unidade da federação e incluindo as mesmas informações. Este projeto recupera e consolida tais planilhas, trata os seus dados e então propõe algumas leituras estatísticas por UF.</p>
    <h2 class="text-3xl font-bold pt-4">Por quê?</h2>
    <p class="py-2">O portal de imóveis da Caixa é uma fonte de dados valiosa não apenas para quem busca imóveis para compra, mas também como termômetro do mercado imobiliário e da situação econômica do país. Imóveis retomados podem ser um indicador de inadimplência e de crise econômica; a Caixa, além de ser um banco público, é também o maior financiador imobiliário do país, com 67% de participação no mercado (2021).</p>
    <h2 class="text-3xl font-bold pt-4">Como usar?</h2>
    <p class="py-2">Selecione abaixo um estado brasileiro para ver um resumo dos dados disponíveis.</p>
    <form id="form-uf" action="/mostrar_imoveis" method="POST">
        <select id="seletor-uf" class="select select-bordered w-full max-w-xs" name="uf">
            <option disabled selected>Selecione uma UF</option>
            {% for uf in estados %}
            <option>{{ uf }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mt-4">Ver dados</button>
    </form>
</div>

{% endblock %}
