{% extends 'base.html' %}
{% block title %}Imóveis Caixa | {{ titulo_site }} | {{ subtitulo_site }}{% endblock %}
{% block content %}

<div class="max-w-4xl mx-auto px-4 pt-16 pb-64">

    <h1 class="text-5xl font-bold">Imóveis Caixa</h1>
    <p class="py-6">Monitora e organiza dados obtidos do portal de venda de imóveis da Caixa Econômica Federal. Desenvolvido como projeto final da disciplina "Algoritmos de automação" do <strong>Master em Jornalismo de Dados, Automação e Data Storytelling do Insper.</strong></p>
    <p class="py-6">Selecione uma unidade da federação para ver um resumo dos dados disponíveis:</p>

    <form id="form-uf" action="/mostrar_imoveis" method="POST">
        <select id="seletor-uf" class="select select-bordered w-full max-w-xs" name="uf">
            <option disabled selected>Selecione uma UF</option>
            {% for uf in estados %}
            <option>{{ uf }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mt-4">Ver dados</button>
    </form>
</div>

{% endblock %}
