{% extends 'base.html' %}

{% block content %}

<div class="max-w-4xl max-h-screen mx-auto px-4 pt-16 py-64">

    <h1 class="text-5xl font-bold">Imóveis - {{ uf }}</h1>
    <p class="py-6">Estão disponíveis {{ dados.quantidade_imoveis }} imóveis no portal de venda de imóveis da Caixa.</p>
    <p class="py-6">Veja abaixo algumas informações.</p>

    <div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  
        <div class="stat">
          <div class="stat-title">Preço mais baixo</div>
          <div class="stat-value">{{ dados.mais_barato['Preco']}}</div>
          <div class="stat-desc">valor em R$</div>
        </div>
        
        <div class="stat">
          <div class="stat-title">Preço mais alto</div>
          <div class="stat-value">{{ "%.2f"|format(dados.mais_caro['Preco']) }}</div>
          <div class="stat-desc">valor em R$</div>
        </div>
        
        <div class="stat">
          <div class="stat-title">Maior desconto</div>
          <div class="stat-value">{{ dados.mais_descontado['Desconto']}}%</div>
          <div class="stat-desc">sobre preço de avaliação</div>
        </div>
        
      </div>

    <a href="/imoveis" class="btn btn-primary mt-16">Voltar</a>

{% endblock %}
